[submodule "themes/terminal"]
	path = themes/terminal
	url = https://github.com/panr/hugo-theme-terminal.git
[submodule "web-nakkii/themes/re-terminal"]
	path = web-nakkii/themes/re-terminal
	url = https://github.com/mirus-ua/hugo-theme-re-terminal.git
